body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545351;
  box-sizing: border-box;
}

#frame {
  width: 85%;
  max-width: 1280px;
}
header {
  margin: 50px 0 20px 0;
}

header, main {
  width: 100%;
}

header a {
  color: #545351;
  font-weight: 900;
}

.bold-text {
  font-weight: 700;
}

.project-section {
  border: 5px solid #545351;
  margin: 0 0 20px 0;
  padding: 20px;
}

.project-header {
  font-size: 2em;
  font-weight: 900;
  margin: 0;
}

.project-section a {
  width: 100%;
  display: block;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  height: 35px;
  font-size: 1.3em;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
}

.demo-link {
  background-color: #545351;
}

.repo-link {
  background-color: #AAAAAA;
  margin: 7px 0 0 0;
}
@media only screen and (min-width: 450px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  #frame {
    width: 95%;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project-section {
    width: 42%;
  }
  header p, .header-logo img {
    width: 400px;
  }

}

@media only screen and (min-width: 800px ) {

  body {
    justify-content: center;
  }
  #frame {
    display: flex;
    flex-wrap: wrap;
  }

  header p, .header-logo img {
    width: 400px;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .project-section {
    max-width: 240px;
    margin: 0 30px 30px 0;
  }

}
