* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #FCFAF7;
  font-size: 16px;
  color: #545351;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #FCFAF7;
}

header .mainLogo {
  width: 45%;
  cursor: pointer;
}

header.shrink {
  height: 15%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

img.img-shrink {
  width: 30%;
}
.searchDisplay {
  font-size: 2em;
  text-align: center;
  width: 100%;
  margin: 100px 0 0 0;
}


.text-shrink {
  font-size: 1.5em;
  margin: 0;
  text-align: right;
}

.searchInput {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.dataSubmission {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.searchInput p {
  width: 70%;
  text-align: center;
  margin: 10px auto;
}
.searchInput button {
  width: 40%;
  margin: 10px 30px;
  border-style: none;
  background-color: #FBEFDC;
  padding: 10px 30px;
}

.searchInput input[type='text'] {
  background-color: #FCFAF7;
  border-style: none;
  border-bottom: 4px solid #545351;
  width: 70%;
  outline: none;
  text-align: center;
  border-radius: 0;
}

.api-error {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /*background-color: #545351;*/
  /*color: #FCFAF7;*/
}

.api-error .body-link {
  color: #545351;
}

.api-error p {
  margin: 0;
  padding: 20px;
}

.api-error h1 {
  margin: 20px 0 0 0;
}

.pictureRender {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.pictureRender figure{
  width: 100%;
  margin: 0;
}

.pictureRender figure img {
  max-width: 640px;
  width: 100%;
}
footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: .8em;
}

.body-link  {
  font-weight: 800;
  text-decoration: none;
}
footer .body-link {
  color: #545351;
}

.footer-bottom {
  position: fixed;
  bottom: 0;
}

/*Media Query's Begin*/
@media only screen and (min-width: 768px) {
  header {
    flex-wrap: nowrap;
    align-items: center;
  }
  header .mainLogo {
    width: 200px;
  }
  header, .searchInput {
    max-width: 1200px;
  }
  main {
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .searchDisplay {
    font-size: 2.4em;
    text-align: right;
    margin: 0;
  }

  .api-error {
    margin: 0;
    /*width: 50%;*/
  }

  .api-error p {
    margin: 0 auto;
  }
  header.shrink {
    top: 0;
    height: 75px;
    padding: 20px 60px;
    max-width: 100%;
  }

  img.img-shrink {
    width: 10%;
  }

  .text-shrink {
    font-size: 1.5em;
  }

  .searchInput {
    align-self: center;
  }
  .pictureRender figure {
    width: 50%;
  }
  .pictureRender figure img {
    max-width: 640px;
  }

}
/* Media Query End */


.hideElement {
  display: none;
}
